
@import url('https://fonts.googleapis.com/css2?family=Bruno+Ace+SC&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Andika:ital,wght@0,400;0,700;1,400;1,700&family=Bruno+Ace+SC&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
/* @import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities"; */


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Andika", sans-serif;
}

.font-ace{
  font-family: "Bruno Ace SC", sans-serif;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: white;
  border: 1px solid #d6ac60;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d6ac60;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ccc;
}

@layer base{
  
  .active-link{
    @apply text-amber-950 relative flex-1 after:w-full after:h-[1px] after:bg-amber-950 after:absolute after:-bottom-1 after:right-0;
  }

  h1 {
    @apply text-[41px] leading-tight md:text-[48px] md:leading-[1.3] mb-4 font-bold;
  }

  h2 {
    @apply text-[33px] leading-tight md:text-[46px] md:leading-[1.3] mb-4 font-bold;
  }

  h3 {
    @apply text-[29px] leading-tight md:text-[36px] md:leading-[1.3] mb-4 font-semibold;
  }

  p {
    @apply leading-[1.3] text-[14px] text-gray-90;
  }

}

@layer utilities{

  .btn-dark-outline { 
    @apply  ring-1 ring-teal-950 medium-15 bg-transparent px-7 py-[10px] text-teal-950 transition-all hover:bg-gray-700 hover:text-white
  }

  .max-container {
    @apply mx-auto max-w-[1440px];
  }

  .padding-container {
    @apply px-6 lg:px-14 3xl:px-0;
  }

  .max-padd-container {
    @apply mx-auto max-w-[1440px] px-6 lg:px-20;
  }

  .flexCenter {
    @apply flex items-center justify-center;
  }

  .flexBetween {
    @apply flex items-center justify-between;
  }

  .flexStart {
    @apply flex items-center justify-start;
  }

  .flexEnd {
    @apply flex items-center justify-end;
  }

  /* FONTS */

  .medium-15 {
    @apply text-[15px] font-[500];
  }

  .bold-22 {
    @apply text-[22px] font-[700];
  }

  .bold-18 {
    @apply text-[18px] font-[700];
  }

  .bold-16 {
    @apply text-[16px] font-[700];
  }

}